/*LODING*/
.memeimage-loader-container{
  /* width: 600px; */
  text-align: center;
  /* padding-top: 10%; */
}
#canvas-loader{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-top-color: #fff;
    z-index: 1;
    transform: translate(-50%,-50%);
}
#memeimage-loader{
  display: inline-block;
  width: 50px;
  height: 50PX;
  border-width: 3px;
  border-top-color: #fff;
  z-index: 1;
  transform: translate(-50%,-50%);
}
.loader-circular{
    animation: circle infinite .75s linear;
    border: 2px solid #0d58c8;
    border-radius: 100%;
}

@keyframes circle {
  0%{
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* END  */

.flex-end{
   display: flex;
   align-items: end;
}

.content{
	width:50%;
}

.candidates-name-box{
	display: flex;
	align-items: center;
}
.candidates-rating>svg{
   width: 12px;
   margin-right: 3px;
}
.candidates-rating>svg:last-child{
   margin-right: 0;
}
.upper-case{
   text-transform:;
}

.font-12{
	font-size: 12px;
}

.font-13{
   font-size: 13px;
}

.font-14{
   font-size: 14px;
}
.font-1em{
   font-size: 1em;
}
.margin-ryt-10{
  margin-right: 10px;
}
.svg-icon-15{
	width: 15px;
	height: auto;
}
